server:
  tomcat:
    threads:
      min-spare: 30
    connection-timeout: 5000ms
  port: 8080
  servlet:
    context-path: /time
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/emos?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
      username: root
      password: lwf666666
      initial-size: 2
      max-active: 4
      min-idle: 2
      max-wait: 60000
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
  redis:
    database: 0
    host: localhost
    port: 6379
    jedis:
      pool:
        max-active: 1000
        max-wait: -1ms
        max-idle: 16
        min-idle: 8
  data:
    mongodb:
      host: localhost
      port: 27017
      database: timeSync
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.timeSync.www.entity
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
logging:
  level:
    root: info
    com.timeSync.www.mapper: warn
  pattern:
    console: "%d{HH:mm:ss} %-5level %msg%n"
time-sync:
  jwt:
    secret: timeSyncApp_fishx_123456
    expire: 5
    cache-expire: 10
wx:
  app-id: wxd7f6db78f9a96cf7
  app-secret: e76c7e9a20ba5f28a3e5f6d7bca2a1ed

emos:
  jwt:
    secret: abc123456
    expire: 5 #过期时间（天）
    cache-expire: 10 #缓存过期时间(天)
  face:
    createFaceModelUrl: http://192.168.92.128:3000/create_face_model
    checkinUrl: http://192.168.92.128:3000/checkin
  email:
    system: epic8896@qq.com
    hr: 2195499047@qq.com
  image-folder: D:/emos/image
  code: BF3BDB86B2CE23EE
  recieveNotify: http://192.168.92.128:8080/emos-wx-api/meeting/recieveNotify
workflow:
  url: http://192.168.92:9090/emos-workflow
oss:
  qiniu:
    url: http://s0c9hhw99.hn-bkt.clouddn.com # 这里如果有自己的域名就去绑定自己的 没有的就只能使用七牛云的测试域名
    accessKey: JbgaOsYLpkkpG0nCEyRzyQlLOSepwljQ7OYgWm0Y #公钥
    secretKey: babQTm0kWBCXJ3f7awo2y17TOMYeJsDRdqYKynzK #私钥
    bucketName: emos-wx-image #控件名称